body {
    background-color: #191a1e;
  }
  
  .cursor {
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 100%;
    cursor: none;
    z-index: 100;
    transition: background .1s ease;
    mix-blend-mode: difference;
    top: 0;
    color: white;
    animation: spin 5s infinite linear;
    transform-origin: center center;
    text-align: center;
}
  
  .cursor:after {
    display: block;
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 100%;
    z-index: -1;
    border: 4px solid white;
    left: -9px;
    top: -9px;
    position: relative;
    transition: opacity .2s ease, transform .3s ease;
  }
  
  
